.grid.gap-4.p-2.text-center
  - @posts.each do |post|
    %h1  
      = post.title 
    %p
      = post.body
    %p
      = post.user.username unless post.user.blank?
      
  = link_to 'Log Out', sessions_path, method: :delete
      